<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Big Business 2.0
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120624
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Big Business 2.0 by TEMPLATED</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'blog/jquery.dropotron-1.0.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/jquery.slidertron-1.1.js' %}"></script>
<script type="text/javascript">
	$(function() {
		$('#menu > ul').dropotron({
			mode: 'fade',
			globalOffsetY: 11,
			offsetY: -15
		});
	});
</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="http://127.0.0.1:8000/accueil">Water Progress</a></h1>
		</div>
		<div id="slogan">
			<h2>For better life ...</h2>
		</div>
	</div>
	<div id="menu">
		<ul>
			<li class="first">
				<span class="opener">Accueil<b></b></span>
				<ul>
					<li><a href="#">Lorem Ipsum</a></li>
					<li><a href="#">Consequat Dolor</a></li>
					<li><a href="#">Magna Feugiat</a></li>
					<li>
						<span>Sed Tempus<b></b></span>
						<ul>
							<li><a href="#">Lorem Ipsum</a></li>
							<li><a href="#">Consequat Dolor</a></li>
							<li><a href="#">Magna Feugiat</a></li>
							<li><a href="#">Sed Tempus</a></li>
							<li><a href="#">Etiam Nullam</a></li>
							<li><a href="#">Amet Phasellus</a></li>
						</ul>
					</li>
					<li><a href="#">Etiam Nullam</a></li>
					<li><a href="#">Amet Phasellus</a></li>
				</ul>
			</li>
			<li><a href="{% url 'call_principe' %}">Principe</a></li>
			<li><a href="{% url 'call_services' %}">Services</a></li>
			<li><a href="{% url 'call_clients' %}">Clients</a></li>
			<li>
				<span class="opener">Produits<b></b></span>
				<ul>
					<li><a href="#">Clarificateur</a></li>
					<li><a href="#">Solution connectée</a></li>
					<li><a href="#">Contrôleur</a></li>
				</ul>
			</li>
			</li>
			<li><a href="{% url 'call_plateforme' %}">Plate-forme</a></li>
			<li class="last"><a href="#">A propos</a></li>
		</ul>
		<br class="clearfix" />
	</div>
	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Création de votre compte</h2>
				<p>
					Info : {{user}}
				</p>
					<form action="{% url 'call_recordCredentialsUser' %}" method="get">
        				<label>Identifiant
						<input type="text" name="identifiant"></label>
						<label>Mot de passe
							<input type="text" name="password"></label>
						<label>Confirmation du mot de passe
							<input type="text" name="confirmPassword"></label>
						<label>Email
							<input type="text" name="mail"></label>
						<label>Adresse Télémétrie
							<input type="text" name="telemetryAddress"></label>
        				<input type="submit" value="Enregistrement">
					</form>
			</div>

			<br class="clearfix" />
		</div>

		<br class="clearfix" />
	</div>
</div>
<div id="footer">
	&copy; WaterProgress. All rights reserved.
</div>
</body>
</html>